.cursor {
    height: 32px;
    width: 32px;
    background-color: #409754;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    pointer-events: none;
}

.special-hover {
  background-color: blue;
  z-index: 1;
  height: 80px;
  width: 80px;
  transition: 200ms;
}