.title-screen-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-size: 64px;
  color: #409754;
}

p {
  z-index: 2 !important;
}

.special-text {
  display: inline;
}