.title-screen-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: green;
  font-size: 32px;
  .title-text {
    &:hover {
      cursor: pointer;
    }
  }
  .circle-wrapper {
    position: absolute;
  }
}