@import "./styles/colors.scss";

body {
  margin: 0;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  // overflow: hidden;
  @media screen and (max-width: 800px) {
    overflow-y: scroll;
  }
}
