@import "../../styles/colors.scss";
.subpage-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  width: 100vw;
  height: 100vh;
  max-width: 1600px;
  max-height: 1000px;
  margin: auto;
  cursor: none;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .left-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 0px 40px 80px;
    width: 50%;
    @media screen and (max-width: 800px) {
      padding: 24px 0px;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .title-wrapper {
      background-color: $subpageBackground;
      border-radius: 30px;
      width: 80%;
      max-width: 400px;
      padding: 34px 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 800px) {
        width: 60%;
      }
      .title {
        margin: 0;
        font-size: 48px;
        font-style: italic;
        letter-spacing: -2px;
        font-weight: 800;
      }
      .subtitle {
        margin: 0;
        font-size: 32px;
        color: $subpageSubtitle;
        font-style: italic;
        font-weight: 500;
        letter-spacing: -2px;
      }
    }
    .description-wrapper {
      background-color: $subpageBackground;
      border-radius: 30px;
      height: 100%;
      width: 80%;
      max-width: 400px;
      padding: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
      @media screen and (max-width: 800px) {
        width: 60%;
        padding: 34px 48px;
      }
      .description {
        margin: 0;
        font-size: 16px;
      }
      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36px;
        margin-top: auto;
        width: 100%;
        .click-icon {
          height: 24px;
        }  
      }
    }
  }
  .right-column {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    padding: 40px 80px 40px 0px;
    width: 50%;
    cursor: none;
    @media screen and (max-width: 800px) {
      padding: 0;
      padding-bottom: 24px;
      justify-content: center;
      align-items: center;
    }
    .image-wrapper {
      border-radius: 30px;
      width: 70%;
      height: 48%;
      min-width: 240px;
      background-color: $subpageBackground;
      @media screen and (max-width: 800px) {
        width: 30%;
      }
      .image {
        height: 100%;
        width: 100%;  
        border-radius: 30px;
        object-fit: cover;
        scale: 1;
        transition: scale 500ms;
      }
      .image:hover {
        scale: 1.2;
        transition: scale 700ms;
      }
    }
  }
}