@import "../../styles/colors.scss";
.subpage-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  max-width: 2000px;
  margin: auto;
  cursor: none;
  .left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 40px 0px 40px 80px;
    .title-wrapper {
      background-color: $subpageBackground;
      border-radius: 30px;
      min-width: 304px;
      padding: 34px 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
        margin: 0;
        font-size: 36px;
        font-style: italic;
        letter-spacing: -2px;
        font-weight: 800;
      }
      .subtitle {
        margin: 0;
        font-size: 24px;
        color: $subpageSubtitle;
        font-style: italic;
        font-weight: 500;
        letter-spacing: -2px;
      }
    }
    .description-wrapper {
      background-color: $subpageBackground;
      border-radius: 30px;
      height: 100%;
      width: 304px;
      padding: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .description {
        margin: 0;
      }
      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-top: auto;
        width: 100%;
        .icon {
          height: 24px;
        }  
      }
    }
  }
  .right-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 80px 40px 0px;
    .image-wrapper {
      border-radius: 30px;
      width: 40%;
      height: 50%;
      min-width: 240px;
      background-color: $subpageBackground;
      .image {
        height: 100%;
        width: 100%;  
        border-radius: 30px;
        object-fit: cover;
        transform: scale(1);
        transition-duration: 500ms;
      }
      &:hover {
        transform: scale(1.2);
        transition-duration: 500ms;
      }
    }
    .upper-left {
      margin-bottom: auto;
    }
    .lower-right {
      margin-top: auto;
    }
  }
}