@import "../../../styles/colors.scss";

.x-cursor {
    height: 48px;
    width: 48px;
    background-color: #BABABA80;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    pointer-events: none;
}

.x {
    width: 16px;
    height: 16px;
    transform: translate(4px, 4px);
}